<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8731/" binding="basicHttpBinding"
        bindingConfiguration="" contract="Contract.IService1" name="MyServer" />
    </client>
  </system.serviceModel>
</configuration>