<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8010/ProductsService/Service.svc"
                binding="ws2007HttpBinding" contract="ProductsClient.ProductsService.ProductsService"
                name="WS2007HttpBinding_IProductsServiceV3" />
            <endpoint address="http://localhost:8010/ProductsService/Service.svc"
                binding="wsDualHttpBinding" bindingConfiguration="" contract="ProductsClient.ProductsService.ProductsService"
                name="WSDualHttpBinding_IProductsServiceV3" />
        </client>
    </system.serviceModel>
</configuration>